@model MssDevLab.WebMVC.ViewModels.HomeIndexViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Login with admin@email.com / Pass123$admin.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            @if (Model.WallItems != null)
            {
                foreach (var item in Model.WallItems)
                {
                    <partial name="_ItemPartial" model="item" />
                }
            }
        </div>
        <div class="col">
            @if (Model.CommonAds != null)
            {
                foreach (var adItem in Model.CommonAds)
                {
                    <partial name="_ItemPartial" model="adItem" />
                }
            }
        </div>
    </div>
</div>