@model MssDevLab.WebMVC.ViewModels.HomeIndexViewModel


@{
    ViewData["Title"] = "Search video";
}

<div class="container">
    <div class="row">
        <div class="col-1">
            <p>There are icons for filtering</p>
            <ul>
                <li>Youtube</li>
                <li>Rutube</li>
                <li>Telegram</li>
                <li>VK</li>
            </ul>
        </div>
        <div class="col-8">
            <div class="row p-1">
                <div class="col-2">Search for:</div>
                <div class="col-8"><input type="text" class="w-100" id="messageInput" /></div>
                <div class="col-2 text-end">
                    <input type="button" id="sendButton" value="Search" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <hr />
                </div>
            </div>

            <div id="searchList"></div>

        </div>
        <div class="col-3">
            @foreach (var adItem in Model.CommonAds)
            {
                <partial name="_ItemPartial" model="adItem" />
            }
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/search.js"></script>